.centre{
    display: block;
    margin: auto;
}

p{
    color:white;
    left: 50%; 
    position: absolute; 
    text-align: center; 
    top: 45%;
}
.spinner-grow{
    color:white;
    left: 51%; 
    position: absolute; 
    text-align: center; 
    top: 50%;
}