<mdb-tabs [pills]="true" [fill]="true">
  <!--Login tab-->
    <mdb-tab title="Login">
      <form>
        
  
        <!-- Email input -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="email" id="loginName" class="form-control" />
          <label mdbLabel class="form-label" for="loginName">Email or username</label>
        </mdb-form-control>
  
        <!-- Password input -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="password" id="loginPassword" class="form-control" />
          <label mdbLabel class="form-label" for="loginPassword">Password</label>
        </mdb-form-control>
  
        <!-- 2 column grid layout -->
        <div class="row mb-4">
          <div class="col-md-6 d-flex justify-content-center">
          </div>
  
          <div class=" d-flex justify-content-center">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>
  
        <!-- Submit button -->
        <button mdbRipple type="submit" class="btn btn-dark btn-block mb-4">
          Sign in
        </button>
  
        <!-- Register buttons -->
        <div class="text-center">
          <p>Not a member? <a href="#registerTab">Register</a></p>
        </div>
      </form>
    </mdb-tab>
    <mdb-tab id="registerTab" title="Register">
      <form>
  
        <!-- Name input -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="text" id="registerName" class="form-control" />
          <label mdbLabel class="form-label" for="registerName">Name</label>
        </mdb-form-control>
  
        <!-- Username input -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="text" id="registerUsername" class="form-control" />
          <label mdbLabel class="form-label" for="registerUsername">Username</label>
        </mdb-form-control>
  
        <!-- Email input -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="email" id="registerEmail" class="form-control" />
          <label mdbLabel class="form-label" for="registerEmail">Email</label>
        </mdb-form-control>
  
        <!-- Password input -->
        <mdb-form-control class="mb-4">
          <input mdbInput type="password" id="registerPassword" class="form-control" />
          <label mdbLabel class="form-label" for="registerPassword">Password</label>
        </mdb-form-control>
  
        <!-- Repeat Password input -->
        <mdb-form-control class="mb-4">
          <input
            mdbInput
            type="password"
            id="registerRepeatPassword"
            class="form-control"
          />
          <label mdbLabel class="form-label" for="registerRepeatPassword"
            >Repeat password</label
          >
        </mdb-form-control>
  
        <!-- Submit button -->
        <button mdbRipple type="submit" class="btn btn-dark btn-block mb-3">
          Create a new account
        </button>
      </form>
    </mdb-tab>
</mdb-tabs>