mdb-tabs{
    left: 25%; 
    position: absolute; 
    text-align: center; 
    top: 30%;
    width: 50%;
   form.ng-invalid{
    cursor: not-allowed;
  }
  .error {
      color: red;
    }
  .success {
      color: greenyellow;
  }
  #feedback{
      position: absolute;
      top: 80%;
      left: 0%;
    }
}